/****** COLORS ******/

$app-background-color: #262B4A;
$app-background-darker-color: #1C1F35;
$app-background-lighter-color: #202542;

$app-color-1: #EE8434;
$app-color-1-secondary: #F19955;

$app-color-2: #A93F55;
$app-color-3: #6290C8;

$app-gray: #353E6E;
$app-white: #FAFAFF;

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-input:focus {
  border-color: #959594 !important;
}

.number-input__weight {
  width: 95px;
  border: 1px solid #acb3c2;
  border-radius: 4px;
  font-size: 14px !important;
  padding: 8px;
}

.first-row {
  display: inline-flex;
}

.image-icon {
  height: 24px;
  width: 24px;
}

.conversion-section {
  display: inline-grid;
  grid-template-columns: auto 24px auto;
  grid-column-gap: 8px;
  align-items: center;
}

.two-elements-centered {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 8px;
  align-items: center;
}

.button {
  border: 1px solid #f4511e !important;
  background-color: white;
  border-radius: 4px;
  font-size: 14px !important;
  color: #f4511e !important;
  padding: 8px;
  min-width: 90px;
  cursor: pointer;
}

.button:hover:not(:disabled) {
  background-color: #fdf7f5;
}

.button:disabled {
  border: 1px solid #fbb59f !important;
  color: #fbb59f !important;
  cursor: default;
}

.result-div {
  font-size: 14px;
}

/************** GHOST INPUT *************/

.number-input-ghost {
  width: 96px;
  font-size: 36px;
  padding: 8px;
  border: 0;
  border-bottom: 1px solid $app-background-lighter-color;
  outline: 0;
  background-color: $app-background-color;
  color: $app-white;
  margin-bottom: 8px;

  &:hover {
    border-bottom: 1px solid $app-background-darker-color;
  }

  &:focus {
    border-bottom: 1px solid $app-white;
  }
}

/************** SELECTION GROUP *************/

.selection-group {
  display: inline-flex;
}

.selection-group-item {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: $app-background-darker-color;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px $app-gray;
  }

  &.left {
    margin-right: 12px;
  }

  &.checked {
    padding: 8px 12px;
    box-shadow: 0 0 0 2px $app-color-1;

    &:hover {
      box-shadow: 0 0 0 2px $app-color-1-secondary;
    }
  }
}
