@import url('//fonts.googleapis.com/css?family=Montserrat');
@import 'App/style';

html,
body {
  font: 14px/1.21;
  font-family: 'Montserrat';
  color: $app-white;
  background-color: $app-background-color;
}

h3 {
  color: $app-light-gray;
}
