/* color: #f4511e */

html,
body {
  font: 14px/1.21 "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-group {
  display: inline-flex;
  border: 1px solid #acb3c2;
  border-radius: 4px;
}

.selection-group__item {
  padding: 8px 12px;
}

.selection-group__item:hover {
  cursor: pointer;
}

.selection-group__item.checked {
  padding: 8px 12px;
  background-color: #f4511e;
  color: white;
}

.selection-group__item.checked.left {
  padding: 8px 12px;
  background-color: #f4511e;
  color: white;
  border-radius: 3px 0 0 3px;
}

.selection-group__item.checked.right {
  padding: 8px 12px;
  background-color: #f4511e;
  color: white;
  border-radius: 0 3px 3px 0;
}

.number-input:focus {
  border-color: #959595;
}

.number-input__weight {
  width: 95px;
}

.first-row {
  display: inline-flex;
}

.image-icon {
  height: 24px;
  width: 24px;
}

.conversion-section {
  display: inline-grid;
  grid-template-columns: auto 24px auto;
  grid-column-gap: 8px;
  align-items: center;
}

.two-elements-centered {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 8px;
  align-items: center;
}

.button {
  border: 1px solid #f4511e;
  color: #f4511e;
}